.usersContent {
    grid-area: section;
    background-color: aquamarine;

}

.userPhoto {
    width: 60px;
    height: 60px;

    border-radius: 40px;
}

.usersButton {
    padding: 10px;
    margin: 15px;
}

.test {
    margin-left: 20px;
}

.selectedPage {
    cursor: pointer;
    font-weight: bold;
}