.content { grid-area: section;
    background-color: blue;
    background-image: url("https://i.kym-cdn.com/entries/icons/original/000/032/588/4f1095dd0047a26764332ec35a5b5365.png");
    background-repeat: no-repeat;
    background-size: 100%;
}