.posts {
  padding-top: 20px;
  padding-left: 20px;
  color: black;
  background-color: maroon;
}

.textareaStyle {

  margin-top: 20px;
}
.buttonStyle {

  margin-top: 10px;
}

.posts   { grid-area: aside;
  background-color: maroon;
  height: 481px;
}

.chatItem {


  background-color: maroon;
}