.posts {
  grid-area: aside;
  padding-top: 20px;
  padding-left: 20px;
  height: 481px;
  color: black;
  background-color: maroon;

}

.textareaStyle {

  margin-top: 20px;
}
.buttonStyle {

  margin-top: 10px;
}


.chatItem {


  background-color: maroon;
}