
.App-cont {
    display: grid;

    grid: "header header header" 500px

          "nav  section aside"

          /*"product product product" 500px*/


          "footer footer footer" 500px

  / 15%   1fr     18%;



    min-height: 100vh;
    grid-gap: 8px
;
}


